<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
</head>
<body>
    <form method="POST" action="/courses/add">
    <div class="form-group">
        <label for="courseCode">Course Code</label>
        <input type="text" class="form-control" id="courseCode" name="courseCode">
    </div>
    <div class="form-group">
        <label for="courseDescription">Course Description</label>
        <input type="text" class="form-control" id="courseDescription" name="courseDescription">
    </div>
    <button type="submit" class="btn btn-primary">Add Course</button>
</form>

</body>
</html>